---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



// Base variables

$base-font-family:                Helvetica, Arial, sans-serif;
$base-font-size:                  16px;
$base-font-weight:                300;
$base-font-color:                 #666666;

$base-line-height:                1.5;

$h1-font-family:                  Montserrat, Helvetica, Arial, sans-serif;
$h1-font-size:                    48px;
$h1-font-weight:                  700;
$h1-font-color:                   #0042A3;

$h-font-color:                    #000000;
$h-font-weight:                   700;

$brand-color:                     #009E99;
$brand-color-hover:               #33B1AD;

$brand-color-button:              #009E99;
$brand-color-button-border:       #008E8A;

$brand-color-button-hover:        #007E7A;
$brand-color-button-border-hover: #006F6B;

$spacing-unit:                    30px;



// Base styles 

html, body {
  height: 100%;
}

body { 
  font-family:                    $base-font-family;
  font-size:                      $base-font-size;
  font-weight:                    $base-font-weight;
  color:                          $base-font-color;  
}

h1 {
  font-family:                    $h1-font-family;
  font-size:                      $h1-font-size;
  font-weight:                    $h1-font-weight;
  color:                          $h1-font-color;
}

h2, h3, h4, h5, h6 {
  font-weight:                    $h-font-weight;
  color:                          $h-font-color;
}

p, li {
  font-size:                      $base-font-size;
}

.lead {
  font-size:                      175%;
  color:                          $h1-font-color;
}



// Links and buttons

a {
  color:                          $brand-color;
}

a:hover {
  color:                          $brand-color-hover;
}

a:hover fa {
  text-decoration: none;
}

.btn-primary {
  background-color:               $brand-color-button;
  border-color:                   $brand-color-button-border;
}

.btn-primary:hover {
  background-color:               $brand-color-button-hover;
  border-color:                   $brand-color-button-border-hover;  
}

.labs {
  color:                          #FF0066;
}

.labs:hover {
  color:                          #FF1975;
}

.btn-labs {
  color:                          #FFFFFF;
  background-color:               #FF0066;
  border-color:                   #CC0052;
}

.btn-labs:hover {
  color:                          #FFFFFF;
  background-color:               #E6005C;
  border-color:                   #B20047;  
}



// Spacing

h2 {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-bottom: 1px solid #EEEEEE;
}

h3 {
  margin-top: $spacing-unit * 1.5;
}

h4, h5, h6 {
  margin-top: $spacing-unit;
}

.btn-lg, .input-lg {
  margin-top: $spacing-unit / 3;
  margin-bottom: $spacing-unit / 3;
}

.col-front, form {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.p-index {
  margin-bottom: $spacing-unit;
}

.smallprint {
  line-height: 1.2;
}

h4.comments {
  margin-top: $spacing-unit * 2;
}

#disqus_thread {
  margin-bottom: $spacing-unit * 2;
}



// Images

img {
  max-width: 100%;
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

img.charter {
  width: 156px;
  height: auto;
  vertical-align: middle;
  margin: $spacing-unit;
}

img.charter-page {
  width: 156px;
  height: auto;
  vertical-align: middle;
  margin-right: $spacing-unit;
}

img.avatar {
  width: 128px;
  height: 128px;
}

img.logo {
  height: $spacing-unit * 1.5;
}


// Other

.splash {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: $spacing-unit;
  min-height: 100%;
  background-color: #b9e0f1;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/splash.jpg');
  
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: $spacing-unit / 2;  
  }
  
  h1 {
    font-weight: bold;
    color: #345476;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    margin-bottom: $spacing-unit / 1.5;
  }
  
  p {
    color: #000000;
  }
  
  img {
    width: $spacing-unit * 4;
    margin-bottom: $spacing-unit / 2;
  }
  
}

.footer {
  margin-top: $spacing-unit;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-top: 1px solid #EEEEEE;
  background-color: #FBFBFB;
}



// Mobile optimisation

@media screen and (max-width: 767px) {
  .splash {
    background-image: none;
  }
  h1 {
    font-size: 36px;
  }
  .lead {
    font-size: 150%;
  }
}



// Experimental

#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px;
}