---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Mixins
// @import "components/prefixer";
@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// Base variables

$base-font-family:                Helvetica, Arial, sans-serif;
$base-font-size:                  16px;
$base-font-weight:                300;
$base-font-color:                 #666666;

$base-line-height:                1.5;

$h1-font-family:                  Montserrat, Helvetica, Arial, sans-serif;
$h1-font-size:                    48px;
$h1-font-weight:                  700;
$h1-font-color:                   rgb(0, 99, 175);

$h-font-color:                    #000000;
$h-font-weight:                   700;

$brand-color:                     #009E99;
$brand-color-hover:               #33B1AD;

$brand-color-button:              #009E99;
$brand-color-button-border:       #008E8A;

$brand-color-button-hover:        #007E7A;
$brand-color-button-border-hover: #006F6B;

@function black-or-white($color) {
    @if (lightness($color) > 50) {
        @return #000000; // Lighter backgorund, return dark color
    } @else {
        @return #ffffff; // Darker background, return light color
    }
}

// Base styles

html, body {
    height: 100%;
}

body {
    font-family:                    $base-font-family;
    font-size:                      $base-font-size;
    font-weight:                    $base-font-weight;
    color:                          $base-font-color;
}

// Spacing and that

.container-fluid{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.container-fluid>.row{
    margin-left:-11.250px;
    margin-right:-11.250px;
}

.masthead, .footer{
    .row{
        margin:0;
        padding:40px 0;
    }
    h1{
        margin:0;
    }
}

.section {
    padding-bottom: 45px;
}

@media(max-width: $medium-screen){
    .m12 .card.small,
    .m12 .card.medium,
    .m12 .card.large,
    .s12 .card.small,
    .s12 .card.medium,
    .s12 .card.large
    {
        height:auto;
    }
}

.card {
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }
}

.row.valign-wrapper{
    @media(max-width: $small-screen){
        display:block;
        align-items:auto;
    }
}

// Colors
h2 {
    color: $primary-color
}

// Team

.team-image{
    height: 60%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-social{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

@media(max-width: $medium-screen){
    .team-image{
        height: 70%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}