---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Mixins
// @import "components/prefixer";
@import "materialize";

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Base variables

$base-font-family:                Helvetica, Arial, sans-serif;
$base-font-size:                  16px;
$base-font-weight:                300;
$base-font-color:                 #555555;

$base-line-height:                1.5;

$h1-font-family:                  Montserrat, Helvetica, Arial, sans-serif;
$h1-font-size:                    48px;
$h1-font-weight:                  700;
$h1-font-color:                   #000000;

$h-font-color:                    #000000;
$h-font-weight:                   700;

$brand-color:                     #009E99;
$brand-color-hover:               #33B1AD;

$brand-color-button:              #009E99;
$brand-color-button-border:       #008E8A;

$brand-color-button-hover:        #007E7A;
$brand-color-button-border-hover: #006F6B;

@function black-or-white($color) {
    @if (lightness($color) > 50) {
        @return #000000; // Lighter backgorund, return dark color
    } @else {
        @return #ffffff; // Darker background, return light color
    }
}

// Base styles

html, body {
    height: 100%;
}

body {
    font-family:                    $base-font-family;
    font-size:                      $base-font-size;
    font-weight:                    $base-font-weight;
    color:                          $base-font-color;
}

strong {
    font-weight: 700;
}

ul.browser-default{
    margin-top:15px;
    margin-bottom:15px;
    li{
        list-style-type: disc;
    }
}

mark {
    padding:5px 0;
}
.blue mark{
    background-color: #fff;
    color: $h1-font-color;
    background-color: transparent;
    color: #ffffff;
}

// Spacing and that

ul.browser-default li{
    margin:10px 0;
}

.container-fluid{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.container-fluid>.row{
    margin-left:-11.250px;
    margin-right:-11.250px;
}

.masthead, .footer{
    .row{
        margin:0;
        padding:40px 0;
    }
    h1{
        margin:0;
    }
    .excerpt{
        margin-bottom:0;
    }
}

#scaffold {
    @media only screen and (min-width: 0) {
        height: 56px;
    }

    @media only screen and (min-width: $medium-screen) {
        height: 64px;
    }
}

.section {
    padding-bottom: 45px;
}

.section.headingless {
    padding-top: 45px;
}

.full-height{
    min-height:100vh;
    padding: 20px 0;
}

nav#header{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

#header.headroom--pinned {
        transform: translateY(0%);
    }
#header.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.fixed-top{
    position: absolute;
    top:0;
}

nav#tag-header{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
}

#tag-header.headroom--unpinned {
    transform: translateY(0%);
}
#tag-header.headroom--pinned {
    transform: translateY(100%);
}

@media(max-width: $medium-screen){
    .m12 .card.small,
    .m12 .card.medium,
    .m12 .card.large,
    .s12 .card.small,
    .s12 .card.medium,
    .s12 .card.large
    {
        height:auto;

        .card-action{
            position: relative;
        }
    }

    .vnav{
        margin:40px 0;
    }
}

.card {
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  .card-content .card-title {
      line-height: 1.5;
  }
}

.col .card{
    width:100%;
}

.row.valign-wrapper{
    @media(max-width: $small-screen){
        display:block;
        align-items:auto;
    }
}

.screenshot{
    border:1px solid darken($brand-color, 50%);
}

.highlight{
    border:1px solid darken($brand-color, 50%);
    background-color:lighten($brand-color, 50%);
    padding:15px;
}

.side-nav{
    ul li ul{
        margin-left: 15px;
    }
}

.back-next{
    display:block;
    margin: 20px auto;
    i{
        color:#000!important;
    }
}

.btn-block{
    text-align:center;
    width:100%;
}

// Columns stuff

[data-columns]{
    .column { float: left; padding-left: 7.5px; padding-right: 7.5px;  }
    .column:first-child { padding-left: 0 }
    .column:last-child { padding-right: 0 }
}

.project-cards[data-columns]::before {
    @media only screen and (min-width: 0) and (max-width: $medium-screen) {
	    content: '1 .column.size-1of1';
    }
    @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
	    content: '2 .column.size-1of2';
    }
    @media only screen and (min-width: $large-screen) {
	    content: '3 .column.size-1of3';
    }
}

.project-cards[data-columns] {
    .size-1of1 { width: 100%; }
    .size-1of2 { width: 50%; }
    .size-1of3 { width: 33.333%; }
}

.team-cards[data-columns]::before {
    @media only screen and (min-width: 0) and (max-width: ($medium-screen / 3)) {
	    content: '1 .column.size-1of1';
    }
    @media only screen and (min-width: ($medium-screen / 3)) and (max-width: (($medium-screen / 3) * 2)) {
	    content: '2 .column.size-1of2';
    }
    @media only screen and (min-width: (($medium-screen / 3) * 2)) and (max-width: $medium-screen) {
	    content: '3 .column.size-1of3';
    }
    @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
	    content: '4 .column.size-1of4';
    }
    @media only screen and (min-width: $large-screen) {
	    content: '5 .column.size-1of5';
    }
}

.team-cards[data-columns]{
    .size-1of1 { width: 100%; }
    .size-1of2 { width: 50%; }
    .size-1of3 { width: 33.333%; }
    .size-1of4 { width: 25%; }
    .size-1of5 { width: 20%; }
}

// Colors
h2 {
    //color: $primary-color
}

.parallax-container{
    height:auto;
    overflow:visible;

    .masthead{
        background-color: rgba(0, 99, 175, 0.8);
        position:relative;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
    }
}

#site-content{
    background-color:#ffffff;
}

.right-image-card{
    margin-left:15px;
    margin-bottom:15px;
}

.parallax{
    box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,0.75);
    overflow:hidden;
}

.equal, .equal > div[class*='col'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.card.horizontal .card-image-fa{
    padding-top:15px;
}

// Team

.team-image{
    height: 60%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    img{
        max-width: 350px;
    }
}

.team-social{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

@media(max-width: $medium-screen){
    .team-image{
        height: 70%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// Home

@media(min-width: $medium-screen){
    .home-card{
        margin:0 60px;
    }
}

// ScrollFire

.sf-fade{
    opacity: 0;
}

.sf-ul li{
    opacity:0;
}

@keyframes slide-in {
    100% {
        opacity: 1;
    }
}