<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Share this page</h4>
      {% include social-buttons.html %}
    </div>
  </div>
</div>

<div class="footer">

  <div class="container">
  
    <div class="row">
    
      <div class="col-md-2">
        <p><small>
        <i class="fa fa-fw fa-rocket text-muted"></i> <a href="/resources/">Resources</a><br />
        <i class="fa fa-fw fa-star-o text-muted"></i> <a href="/projects/">Projects</a><br />
        <i class="fa fa-fw fa-pencil text-muted"></i> <a href="/charter/">Charter</a><br />
        <i class="fa fa-fw fa-flask text-muted"></i> <a href="/data/">Data</a><br />
        <i class="fa fa-fw fa-comments text-muted"></i> <a href="/festival/">Festival</a>      
        </small></p>
      </div>
    
      <div class="col-md-5">
        <p><small>
        <i class="fa fa-fw fa-info-circle text-muted"></i> <a href="/about/">About</a><br />  
        <i class="fa fa-fw fa-bullhorn text-muted"></i> <a href="/contact/">Contact</a><br />
        <i class="fa fa-fw fa-envelope text-muted"></i> <a href="/about/subscribe/">Join our mailing list</a>
        </small></p>
        <p class="smallprint"><small>The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation, registration number SC003358.</small></p>
      </div>
  
      <div class="col-md-5">
        <p class="text-right">
        <a href="http://www.scvo.org.uk/"><img src="/images/scvo.png" alt="SCVO" class="logo" /></a>
        <a href="http://www.digitalscotland.org"><img src="/images/digitalscotland.png" alt="Digital Scotland" class="logo" /></a>
        </p>
      </div>
  
    </div>

  </div>

</div>
