<div class="footer">

  <div class="container">
  
    <div class="row">
    
      <div class="col-xs-6">
        <p><small>
        <i class="fa fa-fw fa-twitter text-muted"></i> <a href="https://twitter.com/scvotweet/">@scvotweet</a><br />
        <i class="fa fa-fw fa-envelope text-muted"></i> <a href="mailto:digital@scvo.org.uk">digital@scvo.org.uk</a>
        </small></p>
      </div>
  
      <div class="col-xs-6">
        <p class="text-right">
        <a href="http://www.scvo.org.uk/"><img src="/images/scvo.png" alt="SCVO" /></a>
        <a href="http://www.digitalscotland.org."><img src="/images/digitalscotland.png" alt="Digital Scotland" /></a>
        </p>
      </div>
  
    </div>

  </div>

</div>