<div class="footer">

  <div class="container">
  
    <div class="row">
  
      <div class="col-md-4">
        <p class="text-left">
        <a href="http://www.scvo.org.uk/"><img src="/images/scvo.png" alt="SCVO" class="logo" /></a>
        <a href="http://www.digitalscotland.org"><img src="/images/digitalscotland.png" alt="Digital Scotland" class="logo" /></a>
        </p>
      </div>
      <div class="col-md-8">
        <p style="font-size: 28px; padding-top: 13px;">Complete the questions at digital.scvo.org.uk/questions</p>
      </div>
  
    </div>

  </div>

</div>
