<nav class="grey darken-3" id="header">
    <div class="container-fluid">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/images/scvo-inverse.png" height="40" style="vertical-align:middle;margin-top:-5px;">
            </a>
            <span class="right hide-on-med-and-down">
                {% include menu.html menuPath="root" submenu=false %}
            </span>
            <a href="#" data-activates="side-nav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </div>
</nav>
<div id="side-nav" class="side-nav">
    {% include menu.html menuPath="root" submenu=true %}
</div>
<div id="scaffold"></div>
{% include masthead.html %}
{% include submenu.html %}