<head>
    <base href="{{ site.github.url | replace: 'http://', '//' }}/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ site.title }}{% if page.title %} &raquo; {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
    {% include social-graph-tags.html %}

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1976D2">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1976D2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1976D2">

    <link rel="icon" href="images/favicon.ico" />
    <link rel="image_src" href="images/image.png" />
    <link rel="apple-touch-icon" href="images/image.png" />

    <!--[if lt IE 9] >
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/main.css" />

    <link rel="canonical" href="{{ '/index.html' | prepend: site.github.url | replace: 'http://', '//' }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="feed.xml" />
    {% include analytics.html %}
</head>