<nav class="grey darken-3">
    <div class="container-fluid">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/images/scvo-inverse.png" height="40" style="vertical-align:middle;margin-top:-5px;">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/participation/">Participation</a></li>
                <li><a href="/evolution/">Evolution</a></li>
                <li><a href="/innovation/">Innovation</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <ul id="side-nav" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/participation/">Participation</a></li>
                <li><a href="/evolution/">Evolution</a></li>
                <li><a href="/innovation/">Innovation</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <a href="#" data-activates="side-nav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </div>
</nav>