{% if site.data.menu[include.menuPath] %}
    <ul {% if include.ulClass %}class="{{ include.ulClass }}"{% endif %}>
        {% for item in site.data.menu[include.menuPath] %}
            {% comment %}{% assign itemUrl = item.path | prepend: '/' %}
            {% assign pageData = site.data.pages[itemUrl] %}{% endcomment %}

            {% if include.submenu == true %}
                {% if item.parent == nil %}
                    <li {% if item.path == page.url %} class="active" {% endif %}>
                        <a href="{{ item.path }}" {% if include.aClass %}class="{{ include.aClass }}"{% endif %}>
                            {% if item.icon %}
                                <i class="fa fa-li fa-{{ item.icon }}"></i>
                            {% endif %}
                            {{ item.title }}
                            {% comment %}{{ pageData.menu-title }}{% endcomment %}
                        </a>
                        {% if include.submenu %}
                            {% include menu.html menuPath=item.submenu submenu=include.submenu %}
                        {% endif %}
                    </li>
                {% endif %}
            {% else %}
                {% if item.parent == nil %}
                    <li {% if item.path == page.url %} class="active" {% endif %}>
                        <a href="{{ item.path }}" {% if include.aClass %}class="{{ include.aClass }}"{% endif %}>
                            {% if item.icon %}
                                <i class="fa fa-fw fa-{{ item.icon }}"></i>
                            {% endif %}
                            {{ item.title }}
                            {% comment %}{{ pageData.menu-title }}{% endcomment %}
                        </a>
                        {% if include.submenu %}
                            {% include menu.html menuPath=item.submenu submenu=include.submenu %}
                        {% endif %}
                    </li>
                {% else %}
                    <li {% if item.path == page.url %} class="active" {% endif %}>
                        <strong>
                            <a href="{{ item.path }}" {% if include.aClass %}class="{{ include.aClass }}"{% endif %}>
                                {% if item.icon %}
                                    <i class="fa fa-fw fa-{{ item.icon }}"></i>
                                {% endif %}
                                {{ item.title }}
                                {% comment %}{{ pageData.menu-title }}{% endcomment %}
                            </a>
                        </strong>
                    </li>
                    <li><i class="fa fa-fw fa-chevron-right"></i></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}