<p>
<a href="http://www.facebook.com/sharer/sharer.php?p[url]={{ page.url | prepend: site.url }}&[title]={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" target="_blank" class="btn btn-sm btn-default" title="Share on Facebook"><i class="fa fa-facebook-square"></i> Like</a>
<a href="http://twitter.com/intent/tweet/?text={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}&url={{ page.url | prepend: site.url }}&via={{ site.twitter }}" target="_blank" class="btn btn-sm btn-default" title="Share on Twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank" class="btn btn-sm btn-default"><i class="fa fa-google-plus-square" title="Share on Google+"></i> +1</a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url }}&title={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" target="_blank" class="btn btn-sm btn-default" title="Share on LinkedIn"><i class="fa fa-linkedin-square"></i> Share</a>
</p>
