<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter | prepend: '@' }}" />
<meta name="twitter:creator" content="{{ site.twitter | prepend: '@' }}" />

<!-- Open Graph data -->    
<meta property="og:title" content="{{ site.title }}{% if page.title %} &raquo; {{ page.title }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />        
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />    
<meta property="og:image" content="{% if page.image %}{{ page.image | prepend: '/images/' | prepend: site.url }}{% else %}{{ site.url | append: '/images/image.jpg' }}{% endif %}" /> 
<meta property="og:site_name" content="{{ site.title }}" />       
<meta property="og:type" content="website" /> 
<meta property="fb:admins" content="{{ site.facebook }}" />
