---
layout: default
title: About
excerpt: Learn all about us
permalink: /about/
fa-icon: fa-info-circle
submenu: about
---
<!--test -->
<div class="section headingless">
    <div class="container-fluid flow-text">
        <p>
            Scotland is already a digital nation. Eight in ten households have an internet connection, and four in ten have a
            tablet computer. Six in ten people use a smartphone. For those who have the access, motivation and skills to
            get things done online, life is enhanced.
        </p>
        <p>
            But still far too many people risk being left behind.
        </p>
        <p>
            Organisations also need to respond to the changed ways people live, learn and work in a digital world.
        </p>
        <p>
           SCVO is working hard to help the people and third sector organisations in Scotland to develop their digital potential.
        </p>
    </div>
</div>

<div class="divider"></div>

<a name="strategy"></a>
<div class="section">
    <div class="container-fluid">
        <h2>2020 Digital Strategy</h2>
        <div class="center-align">
            <a class="rm-mag-embed" href="https://readymag.com/622991" data-uri="622991"  data-width="responsive"  target="_blank">https://readymag.com/622991</a>
            <script async src="https://readymag.com/specials/assets/embed_init.js" id="readymag-embed-init"></script>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <div class="container-fluid flow-text">
        <h2 id="subscribe">Our e:bulletin</h2>
        <p>Once a fortnight we send out a short email bulletin rounding up the latest news on digital participation, evolution and innovation in Scotland and beyond.</p>
        <div class="row">
            <form action="http://email.scvo.org.uk/t/r/s/ihjihtl/" method="post" id="subForm">
                <div class="input-field col s12 m5">
                    <input id="fieldName" name="cm-name" type="text">
                    <label for="fieldName">Name</label>
                </div>
                <div class="input-field col s12 m5">
                    <input id="fieldEmail" name="cm-ihjihtl-ihjihtl" type="email" required="">
                    <label for="fieldEmail">Email</label>
                </div>
                <div class="form-group col s12 m2">
                    <br class="hide-on-small-only" />
                    <button type="submit" class="btn btn-primary blue darken-4 btn-lg">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <div class="container-fluid flow-text">
        <h2>Meet the team</h2>
        <p>Who's who in the digital participation team at SCVO.</p>

        <div class="team-cards" data-columns>
            {% for item in site.data.team %}
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/images/photos/team/{% if item.image %}{{ item.image }}{% else %}avatar.png{% endif %}" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <strong>{{ item.name }}</strong><br />
                        {% if item.job %}
                            {{ item.job }}<br />
                        {% endif %}
                        {% if item.phone %}
                            <a href="tel:{{ item.phone }}">{{ item.phone }}</a><br />
                        {% endif %}
                    </div>
                    <div class="card-action team-social">
                        {% if item.email %}
                            <a href="mailto:{{ item.email }}" class="blue-text"><i class="fa fa-fw fa-envelope fa-2x"></i></a>
                        {% endif %}
                        {% if item.twitter %}
                            <a href="https://twitter.com/{{ item.twitter }}" target="_blank" class="blue-text"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
                        {% endif %}
                        {% if item.linkedin %}
                            <a href="{{ item.linkedin }}" target="_blank" class="blue-text"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <h2>Team alumni</h2>
        <p>Past members of the digital participation team at SCVO.</p>

        <div class="team-cards" data-columns>
            {% for item in site.data.alumni %}
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/images/photos/alumni/{% if item.image %}{{ item.image }}{% else %}avatar.png{% endif %}" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <strong>{{ item.name }}</strong><br />
                        {% if item.job %}
                            {{ item.job }}<br />
                        {% endif %}
                        {% if item.phone %}
                            <a href="tel:{{ item.phone }}">{{ item.phone }}</a><br />
                        {% endif %}
                    </div>
                    <div class="card-action team-social">
                        {% if item.email %}
                            <a href="mailto:{{ item.email }}" class="blue-text"><i class="fa fa-fw fa-envelope fa-2x"></i></a>
                        {% endif %}
                        {% if item.twitter %}
                            <a href="https://twitter.com/{{ item.twitter }}" target="_blank" class="blue-text"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
                        {% endif %}
                        {% if item.linkedin %}
                            <a href="{{ item.linkedin }}" target="_blank" class="blue-text"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </div>
</div>
