---
layout: default
title: About
excerpt: Learn all about us
permalink: /about/
fa-icon: fa-info-circle
---

{% include masthead.html %}

<div class="section">
    <div class="container-fluid flow-text">
        <h2>Meet the team</h2>
        <p>Who's who in the digital participation team at SCVO.</p>

        <div class="team-cards" data-columns>
            {% for item in site.data.team %}
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/team/{% if item.image %}{{ item.image }}{% else %}avatar.png{% endif %}" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <strong>{{ item.name }}</strong><br />
                        {% if item.job %}
                            {{ item.job }}<br />
                        {% endif %}
                        {% if item.phone %}
                            <a href="tel:{{ item.phone }}">{{ item.phone }}</a><br />
                        {% endif %}
                    </div>
                    <div class="card-action team-social">
                        {% if item.email %}
                            <a href="mailto:{{ item.email }}" class="teal-text"><i class="fa fa-fw fa-envelope fa-2x"></i></a> {% endif %} {% if item.twitter %}
                            <a href="https://twitter.com/{{ item.twitter }}" class="teal-text"><i class="fa fa-fw fa-twitter fa-2x"></i></a>                    {% endif %} {% if item.linkedin %}
                            <a href="{{ item.linkedin }}" class="teal-text"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <div class="divider"></div>

        <h3>Alumni</h3>

        <div class="team-cards" data-columns>
            {% for item in site.data.alumni %}

            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/team/{% if item.image %}{{ item.image }}{% else %}avatar.png{% endif %}" class="responsive-img">
                </div>
                <div class="card-content">
                    <strong>{{ item.name }}</strong><br />
                </div>
                <div class="card-action team-social">
                    {% if item.twitter %}
                        <a href="https://twitter.com/{{ item.twitter }}" class="teal-text"><i class="fa fa-fw fa-twitter fa-2x"></i></a>                    {% endif %} {% if item.linkedin %}
                        <a href="{{ item.linkedin }}" class="teal-text"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <div class="container-fluid flow-text">
        <h2>Our mailing list</h2>
        <p>Once a fortnight we send out a short email bulletin rounding up the latest news on digital participation in Scotland
            and beyond.</p>
        <form action="https://email.scvo.org.uk/t/r/s/ihjihtl/" method="post" id="subForm">
            <div class="input-field">
                <input id="fieldName" name="cm-name" type="text">
                <label for="fieldName">Name</label>
            </div>
            <div class="input-field">
                <input id="fieldEmail" name="cm-ihjihtl-ihjihtl" type="email" required="">
                <label for="fieldEmail">Email</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
            </div>
        </form>
    </div>
</div>