---
layout: default
title: Past Projects
excerpt: We're supporting some fantastic digital participation projects. Here are their stories.
permalink: /participation/projects-archive/
fa-icon: fa-list
submenu: participation-projects-archive
redirect_from:
  - /projects/
---

<div class="section">
    <div class="container-fluid flow-text">
        <div class="row">
            <div class="col s12">
                <p>
                   Here are the stories of some of the fantastic digital participation
                   projects that we’ve supported in the past. Please read and find ideas
                   to help you pass on basic digital skills to people you work with and
                   support
                </p>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="section" id="projects">
    <div class="container-fluid flow-text">
        <div class="row">
            <div class="col s12">
                {% assign count = 0 %}
                {% assign awarded = 0 %}

                {% for page in site.pages %}
                {% if page.layout == 'project' %}
                    {% capture count %}{{ count | plus: 1 }}{% endcapture %}
                    {% capture awarded %}{{ awarded | plus: page.award }}{% endcapture %}
                {% endif %}
                {% endfor %}

                <h2>
                    Our projects |
                    <small>{{ count }} projects have received support</small>
                </h2>

                <div class="project-cards" data-columns>
                    {% capture mod %}{{ count | modulo: 2 }}{% endcapture %}
                    {% capture break %}{{ count | divided_by: 2 | plus: mod }}{% endcapture %}

                    {% assign idx = 0 %}

                        {% for page in site.pages %}
                            {% if page.layout == 'project' %}
                                <div class="card hoverable">
                                    <div class="card-content">
                                    {% capture tags %}
                                        {% for tag in page.tags %}
                                        {{ tag }}
                                        {% endfor %}
                                    {% endcapture %}

                                    {% assign sortedtags = tags | split:' ' | sort %}

                                        <a href="{{ page.url }}" class="card-title">{{ page.project-lead }}</a>
                                        <p><strong>{{ page.project-title }}</strong></p>
                                        <p>{{ page.project-excerpt }}</p>

                                        {% capture idx %}{{ idx | plus: 1}}{% endcapture %}
                                    </div>
                                    <div class="card-action">
                                        {% if page.call == 1 %}
                                            <a href="/participation/projects-archive/tags/#call1" class="chip blue darken-4 white-text">
                                                <i class="fa fa-fw fa-calendar"></i>
                                                Winter 2014
                                            </a>
                                        {% elsif page.call == 2 %}
                                            <a href="/participation/projects-archive/tags/#call2" class="chip blue darken-4 white-text">
                                                <i class="fa fa-fw fa-calendar"></i>
                                                Spring 2015
                                            </a>
                                        {% elsif page.call == 3 %}
                                            <a href="/participation/projects-archive/tags/#call3" class="chip blue darken-4 white-text">
                                                <i class="fa fa-fw fa-calendar"></i>
                                                Winter 2015
                                            </a>
                                        {% endif %}
                                        {% for tag in sortedtags %}
                                            <a href="/participation/projects-archive/tags/#{{ tag }}" class="chip blue darken-4 white-text">
                                                <i class="fa fa-fw fa-tag"></i>
                                                {{ tag }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="divider"></div>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col s12">
                {% capture tags %}
                    {% for page in site.pages %}
                    {% for tag in page.tags %}
                        {{ tag }}
                    {% endfor %}
                    {% endfor %}
                {% endcapture %}

                {% assign array = tags | split:' ' %}

                {% assign tags = array[1] %}

                {% for item in array %}
                    {% unless tags contains item %}
                        {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
                    {% endunless %}
                {% endfor %}

                {% assign sortedtags = tags | split:'|' | sort %}

                <a href="/participation/projects-archive/tags/">Tags:</a>
                {% for tag in sortedtags %}
                    <a href="/participation/projects-archive/tags/#{{ tag }}" class="chip">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
