body {
 margin: 0;
 padding: 0 0 0 0;
 background: #A6A6A6;	
 font-family: verdana, arial, helvetica, sans-serif;
 font-size: 80%;
 color: #000;
}

h2 {
  font-size: 100%;
  margin: auto auto 0px auto
}
		 
#lh-col {
 position: absolute;
 top: 10px;
 left: 10px;
 border: 1px solid #000;
 background: #ccc;
 color: inherit;
 margin: 0px;
 padding: 0px;
}

#rh-col {
 margin: 10px 80px 10px 80px;
 border: 1px solid #000;
 background: #fff;
 color: inherit;
 padding: 10px 20px 20px 10px;
 line-height: 1.3em;
}
 
.pageheading {
	background-color: #ccc;
	border: 1px solid #000; 
	font-size: 100%; 
	font-weight: bold; 
	color: #000;
	letter-spacing: 0.2em; 
	word-spacing: 0.4em;
  padding: 10px;
  margin-top: 0;
  text-align: center;
}

.footer {	
	text-align: center;
	font-size: 80%;
	margin-top: 10px;
}

hr {
	color: #7300ad;
  background-color: inherit;
	height: 1px;
	margin-bottom: 0px;
	width: 80%;
	text-align: center;
}

ol {list-style-type: decimal;}
li {margin-left: -15px;}
li p {margin-top: 10px;}

p.download {text-align: center; font-weight: bold;}
em {font-weight: bold;font-style: normal;}
pre {font-family: "courier new", courier, monospace; color: gray; background-color: inherit; margin-left: 10px; }
h1 {font-weight: bold; font-size: 100%;}
a:link, a:visited {color: #0019ff;text-decoration: underline; background-color: inherit;}
a:hover {color: #f00;text-decoration: underline; background-color: inherit;}

p.menutitle {
  text-align: center;
  display: block;
  font-size: 100%; 
  padding: 10px 10px 15px 10px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

td#menus {vertical-align: middle;}

td#menus a {
	border: 1px solid #7c7d7f; 
	display: block; 
	text-decoration: none;
  background-color: #fff;
  color: #000;
	padding: 3px 5px 3px 5px;
	margin-bottom: 9px; margin-left: 5px; margin-right: 5px; 
  font-size: 80%;
 	text-align: center;
}

td#menus a:hover {
  background: #ccc; 
	border: 1px solid #000; 
  color: #000;
}
 
.menutext {
  padding-left: 2px;
  padding-right: 2px;
}