---
layout: page-onedigital
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Blog posts by tag: #{{ page.tag }}</h1>
            <div>
                {% if site.tags[page.tag] %}
                    {% for page in site.tags[page.tag] %}
                    <article>
                        <div class="row">
                            {% if page.image %}
                            <div class="col-xs-1">
                                <a href="{{ page.url }}"><img src="/images/{{ page.image }}" alt="{{ page.title }}" /></a>
                            </div>
                            <div class="col-xs-11">
                            {% endif %}
                            {% if page.image == null %}
                            <div class="col-xs-12">
                            {% endif %}
                                <p><span class="lead"><a href="{{ page.url }}">{{ page.title }}</a></span><br /><small>&mdash; by {% if page.authorlink %}<a href="{{ page.authorlink }}">{{ page.author }}</a>{% else %}{{ page.author }}{% endif %} on {{ page.date | date: "%d %B %Y" }}</small></p>
                                <p>{{ page.excerpt }}&hellip; <a href="{{ page.url }}">Read more &raquo;</a></p>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                {% else %}
                    <p>There are no posts for this tag.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
