---
layout: default
---

<div class="splash-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">

      <p class="lead">{{ page.excerpt }}</p>
      <hr />

      {{ content }}
    
    </div>
    <div class="col-md-4">
    
      {% include sidebar.html %}
    
    </div>
  </div>

  <div class="row" id="projects">
    <div class="col-md-12">
    
      {% assign count = 0 %}

      {% for page in site.pages %}
        {% if page.layout == 'project' %}
          {% capture count %}{{ count | plus: 1 }}{% endcapture %}
        {% endif %}
      {% endfor %}
    
      <h2>Our projects<br />
      <small>{{ count }} projects have received support</small></h2>
      <hr />
    </div>
  </div>
  
  <div class="row">

    <div class="col-md-6">

    {% capture mod %}{{ count | modulo: 2 }}{% endcapture %}
    {% capture break %}{{ count | divided_by: 2 | plus: mod }}{% endcapture %}

    {% assign idx = 0 %}
    
        {% for page in site.pages %}
          {% if page.layout == 'project' %}
          
            <p class="p-index"><strong><a href="{{ page.url }}">{{ page.title }}</a></strong><br />
            <small>{{ page.excerpt }}</small></p>
            
            {% capture idx %}{{ idx | plus: 1}}{% endcapture %}
            
            {% if idx == break %}
              </div>
              <div class="col-md-6">
            {% endif %}        
            
          {% endif %}
        {% endfor %}
  
    </div>
  
  </div>
  
</div>