---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-8 one-digital-title">

                    <a href="/onedigital"><img src="/images/OneDigital_badge.jpg" alt="One Digital" /></a>
                    <p class="lead">Building digital skills in the charity and voluntary sector</p>

                    {% if page.home %}
                    {% else %}
                    <h1>{{ page.title }}</h1>
                    {% endif %}
                </div>
                <div class="col-md-4 big-lottery">
                    <a href="https://www.biglotteryfund.org.uk/"><img src="/images/big lottery fund.jpg" alt="Big Lottery Fund" /></a>
                </div>
            </div>

            {% if page.excerpt %}
            <h2>{{ page.excerpt }}</h2>
            {% endif %}

            {% if page.alert %}
            <div class="alert alert-warning" role="alert"><p><i class="fa fa-info-circle"></i> {{ page.alert }}</p></div>
            {% endif %}

            {{ content }}

            {% if page.showtimeline %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Blog</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="timeline">

                        <div id="timeline-line">
                        </div>

                        <ol id="timeline">
                            {% for post in site.posts %}

                            <!-- {% capture tags %}
                            {% for tag in post.tags %}
                            {{ tag }}
                            {% endfor %}
                            {% endcapture %} -->

                            {% assign showitem = false %}

                            {% if page.home == true %}
                                  {% assign showitem = true %}
                            {% endif %}

                            {% if post.tags contains "actionlearning" %}
                                  {% assign showitem = true %}
                            {% endif %}

                            {% if showitem %}

                            <li class="item">

                                <article>
                                    <div class="row">
                                        {% if post.image %}
                                        <div class="col-xs-3">
                                            <a href="{{ post.url }}"><img src="/images/{{ post.image }}" alt="{{ post.title }}" /></a>
                                        </div>
                                        <div class="col-xs-9">
                                        {% endif %}
                                        {% if post.image == null %}
                                        <div class="col-xs-12">
                                        {% endif %}
                                            <p><a href="{{ post.url }}">{{ post.title }}</a><br /><small>&mdash; by {% if post.authorlink %}<a href="{{ post.authorlink }}">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %} on {{ post.date | date: "%d %B %Y" }} {% for tag in sortedtags %} <a href="/onedigital/blog/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}</small></p>
                                            <p>{{ post.excerpt }}&hellip; <a href="{{ post.url }}">Read more &raquo;</a></p>
                                        </div>
                                    </div>
                                </article>

                            </li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
