---
layout: default
---

{% capture tags %}
  {% for tag in page.tags %}
    {{ tag }}
  {% endfor %}
{% endcapture %}

{% assign sortedtags = tags | split:' ' | sort %}

<div class="container">
    <div class="row">
        <div class="col-md-8 one-digital-title">

            <a href="/onedigital"><img src="/images/OneDigital_badge.jpg" alt="One Digital" /></a>
            <p class="lead">Building digital skills in the charity and voluntary sector</p>
        </div>
        <div class="col-md-4 big-lottery">
            <a href="https://www.biglotteryfund.org.uk/"><img src="/images/big lottery fund.jpg" alt="Big Lottery Fund" /></a>
        </div>
    </div>

  <div class="row">
    <div class="col-md-9">

    {% if page.image %}
      <img src="/images/{{ page.image }}" class="postimg pull-right" />
    {% else %}
      <div class="postdiv"/></div>
    {% endif %}

      <h1>{{ page.title }}</h1>

      {% if page.excerpt %}
        <p class="lead">{{ page.excerpt }}</p>
      {% endif %}

      <p><small>&mdash; by {% if page.authorlink %}<a href="{{ page.authorlink }}">{{ page.author }}</a>{% else %}{{ page.author }}{% endif %} on {{ page.date | date: "%d %B %Y" }}
        {% for tag in sortedtags %}
          <a href="/onedigital/blog/tag/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      </small></p>

      {% include social-buttons.html %}

      {{ content }}

      {% include disqus.html %}

      <nav>
        <ul class="pager margins-2x">
          {% if page.previous  %}
            <li class="previous"><a href="{{ page.previous.url }}">&larr; Previous post</a></li>
          {% else %}
            <li class="previous disabled"><a href="#">&larr; Previous post</a></li>
          {% endif %}
          {% if page.next %}
            <li class="next"><a href="{{ page.next.url }}">Next post &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Next post &rarr;</a></li>
          {% endif %}
        </ul>
      </nav>

    </div>
    <div class="col-md-3">
        <div style="margin-left: 20px; margin-bottom: 15px;">
            <strong>Blog Archive</strong>
        </div>
        <ul>

            {% for post in site.posts %}

            {% capture tags %}
            {% for tag in post.tags %}
            {{ tag }}
            {% endfor %}
            {% endcapture %}

            {% assign sortedtags = tags | split:' ' | sort %}

            <li><a href="{{ post.url }}">{{ post.title }}</a> by {% if post.authorlink %}<a href="{{ post.authorlink }}">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %} on {{ post.date | date: "%d %B %Y" }}</p>
            </li>
            {% endfor %}

        </ul>
    </div>
  </div>
</div>
