---
layout: default
---

<div class="splash-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
    
      <p class="lead">{{ page.excerpt }}</p>
      <hr />
      
      <p>Led by: <a href="{{ page.link }}">{{ page.lead }}</a></p>
      <p>Runs from: {{ page.start }} to {{ page.end }}</p>
      <p>Challenge fund award: {{ page.award }}</p>
      <hr />
      
      {% if page.image %}<p><img src="/images/projects/{{ page.image }}" class="project" /></p>{% endif %}

      {{ content }}
    
    </div>
    <div class="col-md-4">
    
    {% include sidebar.html %}
    
    {% include sidebar-project.html %}
        
    </div>
  </div>
</div>