---
layout: default
---

<div class="container">

  <div class="row">
    <div class="col-md-12">
    
      <h1>{{ page.title }}</h1>

      {% if page.excerpt %}
      <p class="lead">{{ page.excerpt }}</p>
      {% endif %}

      {% if page.alert %}
      <div class="alert alert-warning" role="alert"><p><i class="fa fa-info-circle"></i> {{ page.alert }}</p></div>
      {% endif %}

      {{ content }}

    </div>
  </div>

  <div class="row" id="projects">
    <div class="col-md-12">
    
      {% assign count = 0 %}
      {% assign awarded = 0 %}

      {% for page in site.pages %}
        {% if page.layout == 'project' %}
          {% capture count %}{{ count | plus: 1 }}{% endcapture %}
          {% capture awarded %}{{ awarded | plus: page.award }}{% endcapture %}
        {% endif %}
      {% endfor %}
      
      <h2>Our projects<br />
      <small>{{ count }} projects have received support</small></h2>

    </div>
  </div>
  
  <div class="row">

    <div class="col-md-6">

    {% capture mod %}{{ count | modulo: 2 }}{% endcapture %}
    {% capture break %}{{ count | divided_by: 2 | plus: mod }}{% endcapture %}

    {% assign idx = 0 %}
    
        {% for page in site.pages %}
          {% if page.layout == 'project' %}
          
          {% capture tags %}
            {% for tag in page.tags %}
              {{ tag }}
            {% endfor %}
          {% endcapture %}

        {% assign sortedtags = tags | split:' ' | sort %}
          
            <p class="p-index"><strong><a href="{{ page.url }}">{{ page.lead }}</a></strong><br/>
            {{ page.title }}<br />
            <small>{{ page.excerpt }}</small><br />
            
              {% if page.call == 1 %}
                <a href="/projects/tags/#call1" class="btn btn-default btn-xs">Winter 2014</a>
              {% elsif page.call == 2 %}
                <a href="/projects/tags/#call2" class="btn btn-default btn-xs">Spring 2015</a>
              {% elsif page.call == 3 %}
                <a href="/projects/tags/#call3" class="btn btn-default btn-xs">Winter 2015</a>
              {% endif %}

              {% for tag in sortedtags %}
                <a href="/projects/tags/#{{ tag }}" class="btn btn-primary btn-xs">{{ tag }}</a>
              {% endfor %}
            </p>
            
            {% capture idx %}{{ idx | plus: 1}}{% endcapture %}
            
            {% if idx == break %}
              </div>
              <div class="col-md-6">
            {% endif %}        
            
          {% endif %}
        {% endfor %}
  
    </div>
  
  </div>
  
  <div class="row">
    <div class="col-md-12">
    
      <hr />
          
      {% capture tags %}
        {% for page in site.pages %}
          {% for tag in page.tags %}
              {{ tag }}
          {% endfor %}
        {% endfor %}
      {% endcapture %}

      {% assign array = tags | split:' ' %}

      {% assign tags = array[1] %}
 
      {% for item in array %}
          {% unless tags contains item %}
              {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
          {% endunless %}
      {% endfor %}
 
      {% assign sortedtags = tags | split:'|' | sort %}

      <p><small><a href="/projects/tags/">Tags:<a/></small> 
        {% for tag in sortedtags %}
          <a href="/projects/tags/#{{ tag }}" class="btn btn-primary btn-xs">{{ tag }}</a> 
        {% endfor %}
      </p>
    
    </div>
  </div>
  
</div>
