---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
    
      <h1>{{ page.title }}</h1>
    
      {% if page.excerpt %}
      <p class="lead">{{ page.excerpt }}</p>
      {% endif %}
      
      {% if page.website %}
      <p>Led by: <a href="{{ page.website }}">{{ page.lead }}</a></p>
      {% else %}
      <p>Led by: {{ page.lead }}</p>
      {% endif %}
    
      {% if page.email %}
      <p>Email: <a href="{{ page.email | prepend: "mailto:" }}">{{ page.email }}</a></p>
      {% endif %}  
      
      {% if page.twitter-url %}
      <p>Twitter: <a href="{{ page.twitter-url }}">{{ page.twitter-url }}</a></p>
      {% endif %}
      
      {% if page.facebook-url %}
      <p>Facebook: <a href="{{ page.facebook-url }}">{{ page.facebook-url }}</a></p>
      {% endif %}          
      
      <p>Runs from: {{ page.start }} to {{ page.end }}</p>
      
      <p>Challenge fund award: {{ page.award }}</p>
      
      {% if page.image %}
      <hr />
      <p><img src="{{ page.image }}" /></p>
      {% endif %}

      {{ content }}
      
      {% include disqus.html %}
      
      {% include edit.html %}
    
    </div>
  </div>
</div>
