---
layout: default
fa-icon: fa-list
---

<div class="section headingless">
    <div class="container-fluid">
        <p class="flow-text">
            We have hand collated many resources we think you might find useful. Chose your type of resource below.
        </p>

        <div class="row equal">
            <div class="col s12 m6 offset-m3 l4">
                <div class="card hoverable horizontal">
                    <div class="card-image card-image-fa">
                        <i class="fa fa-fw fa-wrench fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">
                                Products, Services, and Tools
                            </span>
                            <p>
                                -- Some text here --
                            </p>
                        </div>
                        <div class="card-action right-align">
                            <a href="{{ page.category }}/resources/products-services-and-tools/">
                                View resources
                                <i class="fa fa-fw fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 offset-m3 l4">
                <div class="card hoverable horizontal">
                    <div class="card-image card-image-fa">
                        <i class="fa fa-fw fa-book fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">
                                Research, and Reports
                            </span>
                            <p>
                                -- Some text here --
                            </p>
                        </div>
                        <div class="card-action right-align">
                            <a href="{{ page.category }}/resources/research-and-reports/">
                                View resources
                                <i class="fa fa-fw fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 offset-m3 l4">
                <div class="card hoverable horizontal">
                    <div class="card-image card-image-fa">
                        <i class="fa fa-fw fa-file-o fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">
                                Articles, Webpages, and Blogs
                            </span>
                            <p>
                                -- Some text here --
                            </p>
                        </div>
                        <div class="card-action right-align">
                            <a href="{{ page.category }}/resources/articles-webpages-and-blogs/">
                                View resources
                                <i class="fa fa-fw fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>