---
layout: default
title: Digital Pioneers
excerpt: Some fantastic stories of digital use across the Scottish third sector. Read on to be inspired.
permalink: /evolution/digital-pioneers/
fa-icon: fa-comments
submenu: evolution
---

<div class="section">
    <div class="container-fluid flow-text">
        <div class="row">
            <div class="col s12">
                <p>
                    SCVO Digital Team like to inspire and be inspired!
                </p>
                <p>
                    We've scouted out some of the best examples from across the third sector of organisations which are utilising a range of tools and approaches to help improve the way they support people and work more efficiently. Our Digital Pioneers recognise the need to continuously develop their skills and actively seek out new ways of doing things.
                </p>
                <p>
                    Here, our Digital Pioneers share their stories in their own words.  Why don't you tell us yours and we'll share it to inspire others.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section" id="digital-pioneers">
    <div class="container-fluid flow-text">
        {% assign count = 0 %}
        {% assign awarded = 0 %}

        {% for page in site.pages %}
        {% if page.layout == 'digital-pioneer' %}
        {% capture awarded %}{{ awarded | plus: page.award }}{% endcapture %}
        {% endif %}
        {% endfor %}

        <div class="digital-pioneer-cards row">
            {% capture break %}{{ count | divided_by: 3 | plus: mod }}{% endcapture %}

            {% assign idx = 0 %}
            {% for page in site.pages %}
            {% if page.layout == 'digital-pioneer' %}
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content">
                        {% capture tags %}
                        {% for tag in page.tags %}
                        {{ tag }}
                        {% endfor %}
                        {% endcapture %}

                        {% assign sortedtags = tags | split:' ' | sort %}

                        <p><a href="{{ page.url }}" class="card-title">
                            {% if page.image %}<img src="images/digital-pioneers/{{ page.image }}" class="responsive-img" />{% endif %}
                            <strong>{{ page.pioneer-title }}</strong>
                        </a></p>
                        <p>{{ page.pioneer-excerpt }}</p>

                        {% capture idx %}{{ idx | plus: 1}}{% endcapture %}
                    </div>
                </div>
            </div>
            {% capture count %}{{ count | plus: 1 }}{% endcapture %}
            {% capture mod %}{{ count | modulo: 3 }}{% endcapture %}
            {% if mod == '0' %}
        </div>
        <div class="digital-pioneer-cards row">
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <div class="divider"></div>

        <br />
        Get in touch with us <a href="https://twitter.com/digiscot?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">@digiscot</a> and <a href="mailto:onedigital@scvo.org.uk">onedigital@scvo.org.uk</a> if you have a digital story to share!

    </div>
</div>

<div class="clearfix"></div>
