---
layout: default
title: Digital Pioneers
excerpt: Some fantastic stories of digital use across the Scottish third sector. Read on to be inspired.
permalink: /evolution/digital-pioneers/
fa-icon: fa-comments
submenu: evolution
---

<div class="container-fluid flow-text">
    <p></p>
</div>

<div class="section" id="digital-pioneers">
    <div class="container-fluid flow-text">
        {% assign count = 0 %}
        {% assign awarded = 0 %}

        {% for page in site.pages %}
        {% if page.layout == 'digital-pioneer' %}
        {% capture count %}{{ count | plus: 1 }}{% endcapture %}
        {% capture awarded %}{{ awarded | plus: page.award }}{% endcapture %}
        {% endif %}
        {% endfor %}

        <div class="digital-pioneer-cards" data-columns>
            {% capture mod %}{{ count | modulo: 2 }}{% endcapture %}
            {% capture break %}{{ count | divided_by: 2 | plus: mod }}{% endcapture %}

            {% assign idx = 0 %}

            {% for page in site.pages %}
            {% if page.layout == 'digital-pioneer' %}
            <div class="card hoverable">
                <div class="card-content">
                    {% capture tags %}
                    {% for tag in page.tags %}
                    {{ tag }}
                    {% endfor %}
                    {% endcapture %}

                    {% assign sortedtags = tags | split:' ' | sort %}

                    <p><a href="{{ page.url }}" class="card-title">
                        {% if page.image %}<img src="images/digital-pioneers/{{ page.image }}" class="responsive-img" />{% endif %}
                        <strong>{{ page.pioneer-title }}</strong>
                    </a></p>
                    <p>{{ page.pioneer-excerpt }}</p>

                    {% capture idx %}{{ idx | plus: 1}}{% endcapture %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <div class="divider"></div>

        <br />
        Get in touch with us <a href="https://twitter.com/digiscot?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">@digiscot</a> and <a href="mailto:onedigital@scvo.org.uk">onedigital@scvo.org.uk</a> if you have a digital story to share!

    </div>
</div>

<div class="clearfix"></div>
