@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body { height: 100%; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; color: #666666; }
h1 { font-family: Montserrat, Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 700; color: #0042A3; }
h2, h3, h4, h5, h6 { font-weight: 700; color: #000000; }
p, li { font-size: 16px; }
.lead { font-size: 175%; color: #0042A3; }
a { color: #009E99; }
a:hover { color: #33B1AD; }
a:hover fa { text-decoration: none; }
.btn-primary { background-color: #009E99; border-color: #008E8A; }
.btn-primary:hover { background-color: #007E7A; border-color: #006F6B; }
.labs { color: #FF0066; }
.labs:hover { color: #FF1975; }
.btn-labs { color: #FFFFFF; background-color: #FF0066; border-color: #CC0052; }
.btn-labs:hover { color: #FFFFFF; background-color: #E6005C; border-color: #B20047; }
h2 { margin-top: 60px; margin-bottom: 30px; padding-bottom: 15px; border-bottom: 1px solid #EEEEEE; }
h3 { margin-top: 45px; }
h4, h5, h6 { margin-top: 30px; }
.btn-lg, .input-lg { margin-top: 10px; margin-bottom: 10px; }
.col-front, form { margin-top: 30px; margin-bottom: 30px; }
.p-index { margin-bottom: 30px; }
.smallprint { line-height: 1.2; }
h4.comments { margin-top: 60px; }
#disqus_thread { margin-bottom: 60px; }
img { max-width: 100%; margin-top: 15px; margin-bottom: 15px; }
img.charter { width: 156px; height: auto; vertical-align: middle; margin: 30px; }
img.charter-page { width: 156px; height: auto; vertical-align: middle; margin-right: 30px; }
img.avatar { width: 128px; height: 128px; }
img.logo { height: 45px; }
.splash { margin-top: -20px; margin-bottom: 20px; padding-top: 30px; min-height: 100%; background-color: #b9e0f1; background-position: top center; background-size: cover; background-repeat: no-repeat; background-image: url("/images/splash.jpg"); }
.splash .jumbotron { background-color: rgba(255, 255, 255, 0.5); margin-bottom: 15px; }
.splash h1 { font-weight: bold; color: #345476; text-shadow: 0px 1px 1px white; margin-bottom: 20px; }
.splash p { color: #000000; }
.splash img { width: 120px; margin-bottom: 15px; }
.footer { margin-top: 30px; padding-top: 30px; padding-bottom: 15px; border-top: 1px solid #EEEEEE; background-color: #FBFBFB; }
@media screen and (max-width: 767px) { .splash { background-image: none; }
  h1 { font-size: 36px; }
  .lead { font-size: 150%; } }
#map-canvas { height: 500px; margin: 0px; padding: 0px; }


a {outline : none;}
a img {outline : none;}
img {border : 0;}

h3 {
    color: #666666;
}

.panel-header {
    background-color: #009E99;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 53px;
}

.panel-header img {
    float: left;
    margin-left: 15px;
    margin-top: 19px;
    display: block;
    position: relative;
    z-index: 100;
    border-style: none;
}
.panel-header img:active, img:visited {
    border-style: none;
    outline: none;
}

.panel-header a:link img.imagefield,
.panel-header a:visited img.imagefield {
  display: block;
}

.panel-header h4 {
    position: relative;
    top: 18px;
    left: 10px;
    color: #FFFFFF;
}
.panel-header div {
    position: relative;
    top: 14px;
    left: 10px;
    font-size: large;
    color: #FFFFFF;
}

.btn-selected {
    background-color: #009E99;
    color: #f6f0f0 !important;
}
.btn-selected :hover {
    color: #f6f0f0 !important;
}

.btn-highlight {
    background-color: #ed7042;
    color: #FBFBFB;
}
.btn-highlight:hover {
    background-color: #006e9e;
    color: #FBFBFB;
}
.central-panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.required-field {
    border-color: #fbb3b3;
    border-width: 1px;
}
.required-field p {
    border:1px solid #fbb3b3;
    border-radius: 5px;
    overflow: hidden;
}
.sum {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px !important;
}
.delete-row {
    color: #fb6969;
    font-weight: bold;
}

.textarea-in-table {
    resize: vertical
}

.borderless-table {
    width: 100%;
    border: none;
}
.borderless-table td {
    padding-top: 5px;
    padding-left: 5px;
}
.borderless-table th {
    padding-left: 10px;
}

.heading { 
    font-family: Montserrat, Helvetica, Arial, sans-serif; 
    font-size: 36px; 
    font-weight: 700; 
    color: #008E8A;
}

.navigator {
    font-size: 16px; 
    font-weight: 700; 
    color: #008E8A;
}
.navigator a:visited { 
    color: #008E8A;
}
.navigator a:hover { 
    color: #008E8A;
    text-decoration: none;
}